body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}
a{
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: #369;
}
.row{
    float: left;
    width: 100%;
}

.top{
    min-height: 20px;
    border-bottom: 1px #CCC solid;
    padding: 5px 0px;
}

.recentnew{
    background-color:#999;
    min-height: 200px;
}
.footer{
    background-color:#CCC;
    min-height: 200px;
}
.boxcenter{
    width: 55%;
    margin: 0 auto;
}
.mrtb{
    margin: 10px 0px;
}
.mr{
    margin-right: 2%;
}

.boxleft{
    float: left;
    width: 25%;

}
.boxmid{
    float: left;
    width: 46%;
}
.bgc{
    background-color: aqua;
}
.boxnew1, .boxew2{
   padding-bottom: 15px; 
   margin-bottom: 15px;
}
.boxnew1 img{
    width: 40%;
    margin-right: 10px;
    float: left;
} 

.brott{
    border-bottom: #333  1px solid;
}
.lastnew img, .boxew2 img{
    width: 100%;
}
.lastnew a{
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 24pt;
}
.lastnew a:hover{
    color: #369;
}
p{
    line-height: 130%;
}
.boxright {
    float: left;
    width: 25%;
}
.mrb{
    margin-bottom: 30px;
}
.mrb20{
    margin-bottom: 20px;
}
.hdemo{
    min-height: 100px;
}
.boxcnter2{
    width: 55%;
    margin: 0 auto;
    padding: 2%;
    background-color: #ffde76;
    min-height: 400px;
}
.col6{
    float: left;
    width: 48%;
}
.col3{
    float: left;
    width: 24%;
}
.col3-1{
    float:left;
    width: 23%;
}
